
<div class="row">
   <div class="col">
      <h2>Welcome to {{title}}!</h2>
   </div>
   <div class="col-6">
 <app-doctor (myOutput)="getChildMsg($event)" [myinputMsg]="myInputMessage"></app-doctor>
   </div>
   <div class="col-6">
      {{finalMsg}}
   </div>
</div>
 <!-- <div class="container row">
   <div class="col">   
     <h3>Input / Output</h3>
    <div class="form-group">
     <label for="name">Height:</label>
     <input type="number" class="form-control" id="name" formControlName="height">
    </div>
    <div class="form-group">
     <label for="lname">Weight</label>
     <input type="number" class="form-control" id="lname"  formControlName="weight">
   </div>
   <div class="form-group">
     <label for="num">Size:</label>
     <input type="number" class="form-control" id="num"  formControlName="size">
   </div>
   </div>
       <button (click)="back()" class="btn btn-primary mt-3">back</button>
 <div>
 </div>
 </div>  -->
