 <h1 [ngClass]="'gggg'">In Build class</h1>
 <div>
   <!-- date -->
   {{day|date:'MM-dd-yyy'}}
 </div>
 <div>
   <!-- number -->
  {{num |number}} 
 </div>
 <div>
   <!-- percentage -->
  {{num1|percent}}  
 </div>
 <div>
   <!-- currency -->
  {{num1|currency :'CAD'}}  
 </div>
 <div>
   <!-- uppercase -->
  {{'angular Pipes'|uppercase}}  
 </div>
 <div>
   <!-- lowercase -->
  {{'angular Pipes'|lowercase}}  
 </div>
 <div>
   <!-- titlecase -->
  {{'angular Pipes'|titlecase}}  
 </div>
<hr> 

 <h2 style="color:royalblue ;">Square</h2>
<p>Name: ggg</p>
<P>Mark : {{4 | square}}</P> 
<p>Name: ggg</p>
<P>Mark : {{16 | square}}</P>
<p>Name: ggg</p>
<P>Mark : {{20 | square}}</P>

<P>Mark : {{50 | square}}</P>


<hr> 

<h2 style="color:royalblue ;">Math Power</h2>
<p><b>Total Mark  of Student : </b>{{ 10 | power : 2 : 90}}</p>
<p><b>Total Mark  of Student : </b>{{ 20 | power : 2 : 10}}</p>
<hr>
<h2 style="color:royalblue ;">UserFullName</h2>

<p>{{"A" | userfullname}}</p>


<p>{{"A" |userfullname : "B" }}</p>


<p>{{"A" |userfullname: "B": "C"}}</p>  

<hr>

<div class="container">
   <h1 style="color:royalblue ;">Employee Details</h1>
   <span>Search </span>
   <input type="text" [(ngModel)]="nameString">
   <br/><br/>
   <table class="table table-sm table-striped m-t-4">
     <thead class="thead-dark">
       <tr>
       <th>First Name</th>
       <th>Last Name</th>
       <th>Department</th>
       <th>Salary</th>
       <th>Joining Date</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let employee of employees | search:nameString">

      <!-- {{employee|json}} -->
      
       <td>{{employee.firstName}}</td>
       <td>{{employee.lastName}}</td>
       <td>{{employee.dept}}</td>
       <td>{{employee.salary | currency}}</td>
       <td>{{employee.doj | date:'dd/MM/yyyy'}}</td>
     </tr>
   </tbody>
   </table>
   <button type="button" class="btn btn-success m-3"
           (click)="addUser()">
     Add Employee
   </button>
 </div> 

 <hr>

   <div>
  <h2>Convert into Temparature</h2>
  <form [formGroup]="form" (ngSubmit) = "onClick(form.value)">
    <input class="input" placeholder="Enter value" formControlName="userInput"><br>

    <label>
      <input type="radio" value="Celcius" formControlName="temperature"/>
        <span>Celcius</span> 
    </label>
    <br>

    <label>
      <input type="radio" value="Fahrenheit" formControlName="temperature">
        <span>Fahrenheit</span> <br>
    </label>
    <br>
    <input type = "submit" value = "Convert">
 </form>
 <p>
   Output : {{convert | temparature: convertTo:convertFrom}} 
     <!-- Output : {{convert | temparature : 'C'}}    -->

 </p>
</div>   