<body>
    <header>
      <h2><a href="#"></a> Mouri Themes</h2>
      <nav>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </nav>
    </header>
    <section class="banner-area">
      <div class="img-area"></div>
      <div class="banner-text">
        <h1>Mouri Themes</h1>
        <h3>Home of quality html templet</h3>
        <a href="" class="btn">Learn More</a>
      </div>
    </section>
    <section class="container" id="work">
      <h3 class="header-text">Our Works</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati doloremque est in! Cumque fugit magni
        reiciendis obcaecati quas molestias, nam facere quisquam doloribus adipisci ex vel harum fugiat, et ad!</p>
        <div class="row" style="row-gap: 10px;">
          
            <img class="col-md-6 col-sm-12" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAgcacroBSskAn_ukNwMxB7_-FXwtV-1Lg1Q&usqp=CAU"
             alt="">
  
             <img class="col-md-6 col-sm-12" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCdP8mjXBwIDATANZkNqzqDosNq7nI1KY8HA&usqp=CAU"
             alt="">
  
             <img class="col-md-6 col-sm-12" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIObzTWyjDXGs0t79AFD89J7EiwEEjZ2gymg&usqp=CAU"
             alt="">
  
             <img class="col-md-6 col-sm-12" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCgC-yJTFEtuO65EZjfKwHM74yk5xD6fbh9t9H0IGfNZQhrLz-Eu7xDuwfQbKRbDyfAZU&usqp=CAU"
             alt="">
          
    
          
        </div>
  
      
    </section>
    <section class="newsletter">
      <h3 class="header-text"> Subscribe Us</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eum autem repellat laudantium hic eaque. Nulla
        ducimus harum in eos sequi assumenda, fugiat aperiam ipsam, fugit eius dolores quia! Nam!</p>
      <form action="">
        <input type="email" placeholder="Email">
        <a href="#" class="btn">Contact Us</a>
      </form>
    </section>
    <section class="contact" id="contact">
      <h3 class="header-text">Contact Us</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur assumenda, similique velit odit alias est
        quaerat quos, libero culpa fugit recusandae deleniti eius suscipit magnam id voluptates laborum inventore quam.
      </p>
      <div class="content-area">
        <div class="single-contact">
          <i class="fa-solid fa-location-dot"></i>
          <p>No 21,Westwood Lane <br> London.</p>
          <i class="fa-solid fa-envelope"></i>
          <p>yourdomain@yahoo.com</p>
          <i class="fa-solid fa-phone"></i>
          <p>+12345678</p>
        </div>
        <div class="single-contact">
          <input type="text" placeholder="Enter your name..">
          <input type="email" placeholder="Enter your email..">
          <input type="submit" value="submit">
        </div>
      </div>
    </section>
    <!--card-->
    <!--box1-->
   
     <div class="bx">
      <div class="container">
        <div class="row" style="justify-content: space-between;">
          <div class="single-team col-md-4 col-sm-12">
            <div class="box img1">
            </div>
              <div class="box img-text">
                <div class="text-area">
                  <h2>Jenni</h2>
                  <h3>Developer</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dicta recusandae iure cum consequatur
                    reiciendis! Repellendus nostrum, corporis quibusdam distinctio magnam praesentium id adipisci asperiores
                    dolores iusto, harum odio tempora.</p>
                  <p>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                  </p>
                </div>
            </div>
          </div>
          <!--box2-->
          <div class="single-team col-md-4">
            <div class="box img2"></div>
              <div class="box img-text">
                <div class="text-area">
                  <h2>Claire</h2>
                  <h3>Designer</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dicta recusandae iure cum consequatur
                    reiciendis! Repellendus nostrum, corporis quibusdam distinctio magnam praesentium id adipisci asperiores
                    dolores iusto, harum odio tempora.</p>
                  <p>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                  </p>
                </div>
              </div>
            
          </div>
          <!--box3-->
          <div class="single-team col-md-4">
            <div class="box img3"></div>
              <div class="box img-text">
                <div class="text-area">
                  <h2>Rebecca</h2>
                  <h3>Photographer</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dicta recusandae iure cum consequatur
                    reiciendis! Repellendus nostrum, corporis quibusdam distinctio magnam praesentium id adipisci asperiores
                    dolores iusto, harum odio tempora.</p>
                  <p>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                  </p>
                </div>
              </div>
            
          </div>
        </div>
      </div>
      
    </div> 
  <div>
    <footer class="footer">
      <h2>Company Logo
       <span class="socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
       </span>
      </h2>
    </footer> 
  </div>
  <div class="footer2">
    <p>All Rights Reserved By @youtube</p>
  </div>
  
  
  </body>

